<ion-header>
  <ion-toolbar>
    <ion-title>
      Mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg">
  <div class="vertical-padding">
 <div class="ion-text-center">
        </div>
    <div class="ion-text-center">
     
   </div>
    <img src="" alt="" class="image-round border-danger margin-top">
  </div>
  <ion-list lines="none" inset="true">
    <ion-list-header>
      <ion-label>Notificaciones</ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/img_11.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>luis:chile</h2>
        <p>estimada la reserva fue realiza</p>
        <p>Hace 10 min.</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/img_12.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Hotel buena Vista</h2>
        <p>lo sentimos no queda mas</p>
        <p>disponibilidad</p>
        <p>Hace 40 min.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/img_13.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>reservas viña</h2>
        <p>su numero de reservas es 98373</p>
        <p>Hace 10 min.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/img_14.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>reservas la serena</h2>
        <p>oferta de dos noches 
          $ 76.980
        </p>
        <p>Hace 10 min.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/img_15.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>yeni: Torres del paine</h2>
        <p>la mejor estadia de tu vida</p>
        <p>Hace 10 min.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/img_16.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>cabañas pucon</h2>
        <p>Hace 10 min.</p>
      </ion-label>
    </ion-item>
    <ion-item>
  </ion-list>

</ion-content>