<ion-header>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Encuentra tu lugar favorito"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img_7.jpg" />
    <ion-card-header>
      <ion-card-title>Ciudad Jardin</ion-card-title>
      <ion-card-subtitle>Viña del Mar</ion-card-subtitle>
    </ion-card-header>
    <p>Distancia: 945 km</p>
    <p>fecha: 1 febrero al 8 febero</p>
    <p>presio: $ 529.046 CLP</p>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img_8.jpg" />
    <ion-card-header>
      <ion-card-title>Costanera</ion-card-title>
      <ion-card-subtitle>La Serena</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <p>Distancia: 1.500 km</p>
      <p>fecha: 15 ENERO al 20 ENERO</p>
      <p>presio: $ 157.590 CLP</p>
    </ion-card>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img_9.jpg" />
    <ion-card-header>
      <ion-card-title>Torres del Paine</ion-card-title>
      <ion-card-subtitle>Punta Arenas</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <p>Distancia: 2.176 km</p>
      <p>fecha: 15 MARZO al 21 MARZO</p>
      <p>presio: $ 453.468 CLP</p>
    </ion-card>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img_10.jpg" />
    <ion-card-header>
      <ion-card-title>Ojos del Caburga</ion-card-title>
      <ion-card-subtitle>Pucon</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <p>Distancia: 600 km</p>
      <p>fecha: 12 febrero al 19 febero</p>
      <p>presio: $ 353.654 CLP</p>
    </ion-card>
  </ion-card>

</ion-content>
